* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0;
  /* overflow-x: hidden; */
}

.container {
  width: 1920px;
  padding: 32px 256px;
}

/* --header: begin-- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 16px;
}

.navbar-link {
  padding: 8px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.highlight {
  color: #ad5727;
}

.header-banner {
  margin-top: 32px;
}

.banner-img {
  width: 100%;
}

/* --header: end-- */

/* --about: begin-- */
.about {
  margin-top: 32px;
  padding: 32px;
  text-align: center;
}

.about-title {
  color: #bb7e52;
  font-size: 16px;
}

.about-us {
  margin-top: 12px;
  color: #3a3a3a;
  font-size: 32px;
  font-weight: 700;
}
/* --about: end-- */

/* --content: begin-- */
.content {
  display: flex;
  gap: 32px;
}

.intro {
  width: 33%;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.intro-content {
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro-title {
  color: #bb7e52;
  font-size: 16px;
}

.intro-desc {
  margin-top: 12px;
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.31;
}

.intro-img {
  width: 100%;
}
/* --content: end-- */

.banner-main {
  margin-top: 96px;
}

.seperate {
  margin-top: 96px;
  width: 100%;
  border: 1px solid #9c9c9c;
}

/* --footer: begin-- */
.footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-form {
  display: flex;
  gap: 8px;
}

#email {
  padding: 10px;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
}

.footer-btn {
  padding: 10px;
  background: #3a3a3a;
  color: #fff;
  font-size: 16px;
}
/* --footer: end-- */
